:root {
  --accent-color: #ff7e1b;
  --accent-color-hover: #ffab6a;
  --accent-color-light: #ffeee2;
  --light-bg: #f6f8fd;
  --text-color: #69707d;
  --black: #1d2026;
  --divider-bg: #e4e9f2;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61, 0.5);
  opacity: 1;
} */

/* AUTOFILL COLOR STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */


/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 137px;
  height: 20px;
  object-fit: contain;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header__container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider-bg);
}

.site-header__logo {
  flex-shrink: 0;
  margin-right: 56px;
}

.site-header__sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 41px;
  padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: block;
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
}

.sitenav__link.sitenav__link:hover {
  color: var(--black);
}
.sitenav__link.sitenav__link:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  content: "";
}

/* CART */
.site-header__cart {
  margin-right: 46px;
  margin-left: 24px;
}

.site-header__cart-link {
  position: relative;
  display: flex;
  color: var(--text-color);
}

.site-header__cart-link:hover {
  color: var(--black);
}
.site-header__cart-link:active {
  opacity: 0.6;
}

.site-header__cart-product-count {
  position: absolute;
  top: -6px;
  left: calc(100% - 11px);
  padding: 1px 6px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  border-radius: 6.5px;
  color: #fff;
  background-color: var(--accent-color);
}

.site-header__cart--empty .site-header__cart-product-count {
  display: none;
}

.site-header__cart-icon {
  width: 22px;
  height: 20px;
  object-fit: contain;
}





/* SHOPPING CART MODAL */
.site-header__cart-modal {
  position: absolute;
  top: 94px;
  right: -76px;
  width: 360px;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 256px;
  border-radius: 10px;
  background-color: #fff;
}

.shopping-cart--modal {
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

.shopping-cart__header {
  padding: 24px 24px 27px;
  border-bottom: 1px solid var(--divider-bg);
}

.shopping-cart__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
}

.shopping-cart__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.shopping-cart__empty  {
  display: none;
}

.shopping-cart--empty .shopping-cart__empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.shopping-cart--empty .shopping-cart__content {
  display: none;
}







/* PROFILE */
.site-header__profile-link {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid transparent;
}

.site-header__profile-link:hover {
  border-color: var(--accent-color);
}

.site-header__profile-avatar {
  width: 50px;
  height: 50px;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* input:not(:focus):not(:placeholder-shown):valid {
  border-color: greenyellow;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:focus + .validation-error,
input:valid + .validation-error,
input:placeholder-shown + .validation-error {
  display: none;
} */